<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body style="color: white !important; background: gray !important; align-items: center !important; text-align: center !important;">
  	<h1>Hello <%= @contact.name %>(<%= @user.email %>)</h1>
  	<div class="row">
  		<div class="col-md-1">
  			<!-- 
  				add config.action_mailer.default_url_options = { host: 'localhost', port: '3000' } in development.rb
  				
  				add default_url_options :host => "https://localhost:3000" in routes.rb
  			-->
  			<%= image_tag(@contact.image, alt:"image", size:"150x120") %>
  		</div>  	
  		<div class="col-md-11" style="padding: 6px 0px 0px 45px;">
		    <p>
		    	You have successfully give your contact with "<%= @contact.message %>".
		    </p>
		    <p>
		    	To login to the site, just follow this link: <a href="<%= @url %>"><%= @url %>.</a>
		    </p>
		    <p>
		    	Thank you and have a great day!
		    </p>
  		</div>	
  	</div>
    
  </body>
</html>
