<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    Hello <%= @contact.name %>,
    <p>
      Details:<br>
      Login Email: <%= @user.login %><br>
      Contact Email: <%= @contact.email %><br>
      Message: "<%= @contact.message %>."<br>
    </p>
    <p>
    	You have successfully give your contact.
    </p>
    <p>
    	To login to the site, just follow this link: <a href="<%= @url %>"><%= @url %>.</a>
    </p>
    <p>
    	Thank you and have a great day!
    </p>
    <!-- 
      add config.action_mailer.default_url_options = { host: 'localhost', port: '3000' } in development.rb
      
      add default_url_options :host => "https://localhost:3000" in routes.rb
    -->
    <%= image_tag(@contact.image, alt:"image", size:"130x100") if @contact.image.attached? %>
  </body>
</html>
